.profile-header {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header .header-info {
    display: flex;
}

.status-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.status-section .status-card {
    text-align: start;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #e0f7fa;
    width: fit-content;
    height: 70px;
}

.section-title {
    font-size: 18px;
    color: #00AEB6;
    padding-left: 10px;
    padding-top: 5px;
}

.info-grid {
    display: flex;
    font-size: 12px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
}

.info-item {
    display: flex;
    max-width: fit-content;
    align-items: center;
    width: 45%;
    padding: 10px 20px;
}
